@model crisicheckinweb.ViewModels.LoginModel

@{
  ViewBag.Title = "Log in to existing account...";
  Layout = "/Views/Shared/_VolunteerLayout.cshtml";
}


<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
  <h3>Please login before using the site</h3>

    <script src="https://cdn.auth0.com/js/lock-7.5.min.js"></script>
    <script type="text/javascript">

        var lock = new Auth0Lock('hL9PNvOlAPUqbSptATKY1k5HsqrKrtd2', 'htbox.auth0.com');

        function signin() {
            lock.show({
                callbackURL: 'http://localhost:2077/Account/Callback'
              , responseType: 'code'
              , authParams: {
                  scope: 'openid profile'
              }
            });
        }
    </script>
    <button onclick="signin()">Login</button>
    <p />
    <div style="font-size: small">If you need to sign up, still click Login in.<br />There will be a link to sign up at the bottom :)</div>    
</div>
